

.calculatorDisplay{
    width: 90%;
    height:40%;
    .calculatorDisplay_output{
        font-size: 2rem;
    }
    
}

@media screen and (min_width=768px){
    .calculatorDisplay{
        .calculatorDisplay_output{
            font-size: 3rem;
        }
    }
}