

.calculatorDisplay{
    margin-top: 2rem;
    width: 95%;
    height: 20%;
    background-color: rgb(89, 89, 89);
    border-radius: 20px;
    display: grid;
    gap: 10px;
    .calculatorDisplay_output{
        
        font-size: 2.5rem;
        text-align: right;
        width: 350px;
        
        // word-wrap:break-word; 
        // word-break:break-all; 
        overflow: hidden;
    }
    #result{
    font-size: 2rem;

    }
    
    
}

// @media screen and (min-width: 768px){
//     .calculatorDisplay{
//         .calculatorDisplay_output{
//             font-size: 3rem;
//         }
//     }
// }