

.calculatorDisplay{
    margin-top: 2rem;
    width: 95%;
    height: 20%;
    background-color: rgb(89, 89, 89);
    border-radius: 20px;
    .calculatorDisplay_output{
        
        font-size: 2.5rem;
        
        height: 100px;
        text-align: right;
        width: 350px;
        word-wrap:break-word; 
        word-break:break-all; 
        // overflow: hidden;
    }
    
}

// @media screen and (min-width: 768px){
//     .calculatorDisplay{
//         .calculatorDisplay_output{
//             font-size: 3rem;
//         }
//     }
// }