
.calculatorKeyboard{
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-rows: repeat(5,1fr);
    height: 50%;
    width: 90%;

    .calculatorKeyboard_button{
        border: none;
        border-radius: 50%;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 2rem;
        color: azure;

        &--number{
            background-color: rgb(89, 89, 89);
        }

        &--special{
            background-color: rgb(170, 168, 168);
            color:black;
        }

        &--operate{
            background-color: orange;
        }
        &:active{
            border-radius: 25%;
            // transition-duration: 500ms;
        }
    }
}

@media screen and (min-width:768px){
    .calculatorKeyboard{
        .calculatorKeyboard_button{
            width: 5rem;
            height: 5rem;
            font-size: 2.5rem;
        }
    }
}