@use "./display";
@use "./keyboard";

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: black;
}

.calculator{
    position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: black;
    color: azure;
    width:100vw;
    height: 100vh;
}

@media screen and (min-width:768px){
    .calculator{
        border-radius: 20px;
        border: 2px solid gold;
        width: 650px;
        height: 800px;
    }
}


